*{
    padding: 0;
    margin: 0;
}

div{
    box-sizing: border-box;
}
.container-full{
    width: 100%;
    float: left;
    background-color: cornflowerblue;
    padding: 13px;
}
.btn-Add{
    background-color: white;
    padding: 10px 10px;
    float: left;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 1px 3px 5px 0px #888;
    cursor: pointer;
}
.btn-Add:hover{
    opacity: 0.5;
    font-weight: bold;
}

table{
    width: 100%;
    float: left;
    margin-top: 15px;
    border-collapse: collapse;
    cursor: pointer;
    
}
table tr th{
    border: 2px solid #ccc;
    font-size: 18px;
    padding: 10px 0;
}
table tr td{
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 14px;
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.377);
}
.frm{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 450px;
    float: left;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.header{
    width: 100%;
    float: left;
    box-shadow: 1px 1px 5px 0px #555;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}
.header h1{
    font-size: 18px;
}
.header .btn-close{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: crimson;
    padding: 7px 10px;
    color: white;
    border-radius: 2px;
} 
.btn-close:hover{
    opacity: 0.7;
}
.frm-body{
    width: 100%;
    float: left;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
label{
    width: 100%;
    float: left;
    /* margin-top: 5px; */
    /* padding: 7px; */
    font-weight: bold;
}
.frm-control{
    width: 100%;
    float: left;
    border-radius:5px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #777;
}
.footer{
    width: 100%;
    height: 50px;
    float: left;
    /* background-color: #ccc; */
    box-shadow: 1px 1px 5px 1px #555;
    padding: 3px;
    box-sizing: border-box;
}
.btn-save{
    float: right;
    background-color: blue;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 7px;
}
.btn-update{
    float: right;
    background-color: crimson;
    padding: 7px 15px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
}
.btn-save:hover{
    opacity: 0.5;
    
}
.active{
    background-color: rgba(0, 0, 255, 0.055);
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	.container-full{
        padding: 10px;
    }
    table tr th{
        padding: 8px;
        /* border: 1px solid #555; */
        font-size: 15px;
    }
    table tr td{
        padding: 7px;
        /* border: 1px solid #555; */
        font-size: 13px;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .container-full{
        padding: 9px;
    }
    .btn-Add{
        font-size: 13px;
    }
    table tr th{
        padding: 7px;
        font-size: 15px;
    }
    table tr td{
        padding: 5px;
        font-size: 13px;
    }
    .frm{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        width: 370px;
        
    }
    .header{
        height: 40px;
    }
    .footer{
        height: 45px;
        padding: 2px;
    }
    .btn-save{
        margin-top: 4px;
    }
    .frm-body{
        padding: 10px;
    }
}